Adafruit-Blinka==8.20.1
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-requests==2.0.1
adafruit-circuitpython-typing==1.9.4
Adafruit-PlatformDetect==3.49.0
Adafruit-PureIO==1.1.11
certifi==2023.7.22
charset-normalizer==3.2.0
colorzero==2.0
gpiozero==1.6.2
idna==3.4
pyftdi==0.54.0
pyserial==3.5
python-box==7.0.1
pytz==2023.3
pyusb==1.2.1
PyYAML==6.0.1
requests==2.31.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
sysv-ipc==1.1.0
types-pytz==2023.3.0.0
typing_extensions==4.7.1
urllib3==2.0.4
